<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pandaatm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".balanceScreen"
            android:label="@string/title_activity_balance_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".splashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".outsideTransfer"
            android:label="@string/title_activity_outside_transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transferType"
            android:label="@string/title_activity_transfer_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cashDepositScreen"
            android:label="@string/title_activity_cash_deposit_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".depositChoiceScreen"
            android:label="@string/title_activity_deposit_choice_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".withdrawScreen"
            android:label="@string/title_activity_withdraw_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>